html, body {
	height: 100%;
}

body {
	font-family: sans-serif, arial;
	margin: 0;
	text-align: justify;
}

header {
	height: 60px;
	background: #4286f4;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}

.nav li {
	margin-left: 10px;
}

.nav {
	list-style: none;
	padding: 0;
	display: flex;
}

.products {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.main {
	margin: 0;
}

.box {
	width: 150px;
	height: 150px;
	background: limegreen;
	margin: 20px;
	border-radius: 50%;
}